<article class="listing">
    <h3>{{restaurant.id}}. {{restaurant.name}}</h3>
    <div class="detail type">
        <span>Ciudad:</span> {{restaurant.city}}
    </div>
    <div class="detail city">
        <span>Direccion:</span> {{restaurant.address}}
    </div>
    <div class="detail city">
        <span>Telefono:</span> {{restaurant.phone}}
    </div>
</article>

{{yield}}
